---
import Button from './Button.astro';
const { brand } = Astro.props;
---

<section
  class="bg-white flex flex-col w-full justify-center items-center mt-20 gap-10 lg:animate-slide-up-fade"
>
  <img
    src={brand.imgBrand}
    alt=`Imagen la marca ${brand.name}`
    class="text-black"
  />
  {
    brand.text.map((texto) => {
      return (
        <p class="w-full p-4 lg:p-0 lg:w-[1200px] text-justify">{texto}</p>
      );
    })
  }
  <div class="relative flex flex-col w-full lg:flex-row lg:w-[1200px] gap-4">
    {
      brand.banner.map((brand, i) => {
        return (
          <>
            <div class="relative">
              <img
                src={brand.img}
                alt="Imagen de la marca correspondiente al artículo"
                class="lg:w-auto w-full h-56 lg:h-auto p-4 lg:p-0 "
              />
              <a
                href={brand.url}
                target="_blank"
                class="absolute  left-1/2"
                style={{
                  bottom: '20px',
                  left: '50%',
                  transform: 'translate(-50%, -20%)',
                }}
              >
                <Button text="GO TO SITE" />
              </a>
            </div>
          </>
        );
      })
    }
  </div>
</section>
